/* geral */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: 'Karla', sans-serif;
  line-height: 1.6;
  font-weight: 400;
  font-size: 1rem;
  background: #E6EFF6;
  padding: 20px;
}

img{
  display: block;
  max-width: 100%;
}

a{
  text-decoration: none;
}

/* style */

main{
  max-width: 680px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 12px;
  box-shadow: 0px 10px 20px 0px #CADAEA;
}

.conteudo-1{
  grid-column: 1 / 3;
  background: #fff;
  padding: 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.conteudo-1 h1{
  color: #4ABEBD;
  font-weight: 700;
  margin: 10px 0;
  font-weight: 700;
}

.conteudo-1 h2{
  font-size: 1.25rem;
  font-weight: 700;
  color: #BFDF33;
  margin: 10px 0;
}

.conteudo-1 p{
  color: #B7BBC1;
}

.conteudo-2{
  color: #fff;
  background: #42B3B1;
  border-bottom-left-radius: 10px;
  padding: 40px;

}

.titulo-secundario{
  font-size: 1.25rem;
  font-weight: 700;
  margin: 10px 0;
}

.conteudo-2 :nth-child(2){
  color: #74D9DD;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.preco{
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
}

.conteudo-2 a{
  color: #fff;
  display: block;
  text-align: center;
  margin-top: 30px;
  padding: 10px;
  border-radius: 5px;
  background: #BFDF33;
  box-shadow: 0px 10px 10px 0px #3BA3A0;
  transition: 230ms;
}

.conteudo-2 a:hover{
  background: #D9FC3A;
}

.conteudo-3{
  color: #fff;
  background: #4ABEBD;
  border-bottom-right-radius: 10px;
  padding: 40px;
}

.conteudo-3 p{
  color: #96EDEC;
  max-width: 230px;
  font-weight: 400;
}

.attribution { 
  color: #333;
  font-size: 11px; 
  text-align: center; 
}
.attribution a { 
  color: #727D42; 
}

.attribution a:hover{ 
  color: #ADC92E; 
  text-decoration: underline;
}

/* mobile */

@media (max-width: 529px) {
  body{
    font-size: .9rem;
  }
  
  main{
    max-width: 300px;
    margin: 40px auto;
    grid-template-columns: 1fr;
  }

  .conteudo-1{
    grid-column: 1;
    padding: 20px;
  }

  .conteudo-1 h2{
    font-size: 1rem;
  }

  .titulo-secundario{
    font-size: 1.125rem;
  }

  .conteudo-2{
    border-bottom-left-radius: 0px;
    padding: 20px;
  }

  .conteudo-3{
    border-bottom-left-radius: 10px;
    padding: 20px;
  }

  .conteudo-3 p{
    line-height: 2;
  }
}










